{% extends 'base/home.html' %}

{% block contenido %}
    <br>
    <form method="post">{% csrf_token %}
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Agregar Detalle del Tatamiento al
                Paciente: {{ hospitalizacion.contrato.id_asegurado }}</div>
            <div class="card-body">
                {{ form.as_p }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'cha_app:hospitalizaciones_listar' %}" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </form>
{% endblock %}
