{% extends 'base/home.html' %}

{% block contenido %}
<br>
<div class="card border-primary mb-3" style="max-width: 60rem;">
    <div class="card-header">Listado de Hospitalizaciones</div>
    <div class="card-body">
        <table class="table table-hover">
          <thead>
              <th>Id</th>
              <th>Asegurado</th>
              <th>Doctor</th>
              <th>Accion</th>
          </thead>
          <tbody>
            {% for item in obj %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.asegurado }}</td>
                <td>{{ item.doctor|upper }}</td>
                <td><a href="{% url 'cha_app:familiares_editar' item.id %}" class="btn btn-warning"><i class='far fa-edit'></i></a>
                    <a href="{% url 'cha_app:familiares_borrar' item.id %}" class="btn btn-danger"><i class='fa fa-minus-circle'></i></a>

                </td>
        </tr>
        {% endfor %}        
          </tbody>
      </table>
    </div>
    <div class="card-footer">
        <a href="{% url 'cha_app:familiares_nuevo' %}" class="btn btn-primary">Nueva</a>
  </div>
  
  </div>
{% endblock %}
{% block js_page %}
<script language="JavaScript">
    $(document).ready(function() {
        $('.table').DataTable();
    } );
</script>
{% endblock %}