{% extends 'base/home.html' %}

{% block contenido %}
<br>
<div class="card border-primary mb-3" style="max-width: 80rem;">
    <div class="card-header">Listado de Hospitalzaciones</div>
    <div class="card-body">
        <table class="table table-hover">
          <thead>
              <th>TIpo de Poliza</th>
              <th>Asegurado</th>
              <th>Hospital</th>
              <th>Medico</th>
              <th>Fecha de Entrada</th>
              <th>Fecha de Salida</th>
              <th>Accion</th>
          </thead>
          <tbody>
            {% for item in obj %}
            <tr>
                <td>{{ item.contrato.id_poliza }}</td>
                <td>{{ item.contrato.id_asegurado }}</td>
                <td>{{ item.hospital }}</td>
                <td>{{ item.doctor }}</td>
                <td>{{ item.fecha_entrada|date:'d/m/Y'}}</td>
                <td>{{ item.fecha_salida|date:'d/m/Y'}}</td>
                <td><a href="{% url 'cha_app:hospitalizaciones_editar' item.id %}" class="btn btn-warning"><i class='far fa-edit'></i></a>
                    <a href="{% url 'cha_app:hospitalizaciones_borrar' item.id %}" class="btn btn-danger"><i class='fa fa-minus-circle'></i></a>

                </td>
        </tr>
        {% endfor %}        
          </tbody>
      </table>
    </div>
    <div class="card-footer">
        <a href="{% url 'cha_app:hospitalizaciones_nuevo' %}" class="btn btn-primary">Nueva</a>
  </div>
  
  </div>
{% endblock %}
{% block js_page %}
<script language="JavaScript">
    $(document).ready(function() {
        $('.table').DataTable();
    } );
</script>
{% endblock %}
