{% extends 'base/home.html' %}

{% block contenido %}
<br>
<form method="post">{% csrf_token %}
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header">Agregar Poliza</div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    Descripcion:
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" name="descripcion" maxlength="100" required="" id="id_descripcion" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    Costo:
                </div>
                <div class="col-lg-6 col-md-6">
                   <input type="number" name="costo" value="0" step="any" required="" id="id_costo" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    Costo x Extension:
                </div>
                <div class="col-lg-6 col-md-6">
                   <input type="number" name="costo_extension" value="0" step="any" required="" id="id_costo_extension" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    Valor de la Cobertura:
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="number" name="valor_cobertura" value="0" step="any" required="" id="id_valor_cobertura" class="form-control">
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'cha_app:poliza_listar' %}" class="btn btn-primary">Cancelar</a>
        </div>
    </div>
</form>
{% endblock %}