{% extends 'base/index.html' %}

{% block contenido %}
<br>
<div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
    <div class="card-header">Listado de Vendedores</div>
    <div class="card-body">
        <table class="table table-hover">
          <thead>
              <th>Id</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Acciones</th>
          </thead>
          <tbody>
            {% for item in obj %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nombres }}</td>
                <td>{{ item.apellidos }}</td>
                <td>
                </td>
        </tr>
        {% endfor %}        
          </tbody>
      </table>
    </div>
  </div>
  
  </div>
{% endblock %}